<h1>出社社員一覧</h1>

  <div class="col-md-6 col-md-offset-3">
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>社員番号</th>
        <th>氏名</th>
      </tr>
    </thead>
  </table>
  </div>
  
  